
<!DOCTYPE html>
<html translate="no" data-dpr="4" style="font-size: 44.64px">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>Vegas Lottery</title>
  <script src="/js/block.js"></script>
  <link rel="stylesheet" href="/css/bet/wingo/main.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>
</head>

<body style="font-size: 12px">
  <div id="app">
    <div data-v-a9660e98="" class="mian game">
      <div data-v-106b99c8="" data-v-a9660e98="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" height="38px" width="100px" src="/images/rupeegames.png" class="logo"  style="height: .80333rem!important;" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio" />
            </div>
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume" />
            </div>
          </div>
        </div>
      </div>
      <!---------->
      <div data-v-a9660e98="" class="game-head">
    <div data-v-a9660e98="" class="total-box">
        <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="m-r-10">
                    <div data-v-a9660e98="" class="van-image" style="width: 60px; height: 60px">
                        <img src="/images/icon_wallet.webp" class="van-image__img" />
                    </div>
                </div>
                <div data-v-a9660e98="">
                    <h3 data-v-a9660e98="" class="total m-b-5">Total</h3>
                    <span data-v-a9660e98="" class="wallet">Balance</span>
                </div>
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="num">
                    <span data-v-a9660e98="">₹ 0.00 </span>
                </div>
                <div data-v-a9660e98="" class="van-image img m-l-10 reload_money" style="width: 15px; height: 15px">
                    <img src="/images/tải%20xuống%20(1).png" class="van-image__img" />
                </div>
            </div>
        </div>
        <div data-v-a9660e98="" class="total-btn c-row c-row-between">
            
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="border-radius: 0.13333rem;
                    line-height: .8rem;
                    background: #8f5206;
                    border-radius: .13333rem;
                    font-weight: 600;
                    font-size: .37333rem;
                    color: #fae59f;
                    text-align: center;">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Recharge
                        </span>
                    </div>
                </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                    style="border-radius: 0.13333rem;
                    color: #8f5206;
                    font-weight: 400;
                    background-color: transparent;
                    border: .02667rem solid #8f5206;">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Withdraw
                        </span>
                    </div>
                </button>
            </div>
            
        </div>
    </div>
    <div data-v-a9660e98="" class="m-t-15 notice">
        <div data-v-a9660e98="" role="alert" class="van-notice-bar" style="width: calc(100% - 0.69333rem);margin: 0.45333rem auto;background-color: #303030;padding: 0 0.42667rem;border-radius: 0.53333rem;">
            <svg style="width: 0.42667rem;-webkit-flex-shrink: 0;flex-shrink: 0;height: auto;margin-right: 0.22667rem;" data-v-2f7ed6fa="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M41.977 36.5356L41.976 36.5376C41.488 37.7866 40.241 38.3286 39.189 37.7476C38.141 37.1596 37.692 35.6806 38.171 34.4346C39.25 31.7086 39.804 28.5196 39.804 25.1886C39.804 21.3406 39.04 17.6176 37.646 14.6966C37.077 13.4856 37.437 11.9706 38.44 11.2946C39.445 10.6176 40.732 11.0446 41.302 12.2386C43.071 15.9616 44.014 20.4326 43.999 25.1886C43.999 29.2326 43.295 33.1696 41.977 36.5356ZM34.32 32.2426C34.095 32.2426 33.87 32.1896 33.646 32.1006C32.554 31.6596 31.969 30.2506 32.34 28.9526L32.341 28.9476C32.686 27.7366 32.866 26.4716 32.866 25.1706C32.866 23.6386 32.627 22.1786 32.148 20.7886C31.713 19.5066 32.222 18.0636 33.3 17.5466C34.38 17.0476 35.592 17.6536 36.027 18.9366C36.702 20.9136 37.046 23.0156 37.046 25.1886C37.046 27.0416 36.793 28.8406 36.298 30.5686C35.998 31.6016 35.188 32.2426 34.32 32.2426ZM27.461 41.2976C26.664 41.7546 25.802 41.9976 24.923 41.9976C24.114 41.9976 23.317 41.8086 22.575 41.4046C22.535 41.3786 22.481 41.3516 22.44 41.3246L13.396 34.4406H10.278C7.364 34.4406 5 33.0836 5 30.1766V18.7326C5 15.8386 7.362 14.4826 10.264 14.4826H13.382L22.44 7.66557C22.481 7.63857 22.522 7.62557 22.561 7.59857C24.088 6.76357 25.945 6.80457 27.435 7.70657C29.027 8.66257 29.984 10.3716 30.012 12.2706V36.7336C30.012 38.6456 29.055 40.3546 27.461 41.2976Z" fill="url(#paint0_linear_235_31)"></path><defs><linearGradient id="paint0_linear_235_31" x1="5" y1="7" x2="5" y2="40.9996" gradientUnits="userSpaceOnUse"><stop stop-color="#FAE59F"></stop><stop offset="1" stop-color="#C4933F"></stop></linearGradient></defs></svg>
            <div role="marquee" class="van-notice-bar__wrap">
                <div class="van-notice-bar__content" style="">
                     Welcome To Vegas Lottery! I Hope You All Guys Are Win Daily Money If you any Problem about This game Contact Me 🎉
                </div>
            </div>
        </div>
    </div>
</div>      <!---------->
      <div data-v-a9660e98="" class="game-betting">
        <div data-v-a9660e98="" class="tab">
          <div data-v-a9660e98="" class="box c-row">
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win'">
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">1 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/3'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">3 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/5'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">5 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/10'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">10 min</div>
    </div>
</div>         </div>
        <div data-v-a9660e98="" class="content">
          <div data-v-a9660e98="" class="time-box c-row c-row-between m-b-10" style="
            width: calc(100% - 0.69333rem);
            height: 2.66667rem;
            margin: 0.48rem auto 0;
            background-image: url(/assets/png/diban-f8c2e476.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 0.01333rem center;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            position: relative;
            color: #8f5206;">
            <div data-v-a9660e98="" class="info">
              <div data-v-a9660e98="" class="txt">10 Minute</div>
              <div data-v-a9660e98="" class="number">Loading............</div>
            </div>
            <div data-v-a9660e98="" class="out">
              <div data-v-a9660e98="" class="txt">
                Time remaining
              </div>
              <div data-v-a9660e98="" class="number c-row c-row-middle c-flew-end">
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item c-row c-row-middle">
                  :
                </div>
                <div data-v-a9660e98="" class="item">0</div>
                <div data-v-a9660e98="" class="item">0</div>
              </div>
            </div>
          </div>
          <div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green">Green</button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet">Violet</button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn red">Red</button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n0-30bd92d1.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">0</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n1-dfccbff5.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">1</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n2-c2913607.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">2</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n3-f92c313f.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">3</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n4-cb84933b.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">4</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n5-49d0e9c5.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">5</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n6-a56e0b9a.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">6</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n7-5961a17f.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">7</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n8-d4d951a4.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">8</span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10" style="background-image: url(/assets/png/n9-a20f6f42.png);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;"       >
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="" style="display:none">9</span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background: #D9AC4F; color: #8f5206">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background: #A6A9AE; color: #404040">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background: #A6A9AE; color: #404040">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background: #A6A9AE; color: #404040">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background: #A6A9AE; color: #404040">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background: #A6A9AE; color: #404040">
                X100
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow">Big</button>
        <button data-v-a9660e98="" data-join="n" class="item green">Small</button>
    </div>
</div>        </div>
      </div>
      <div data-v-a9660e98="" class="game-list p-b-20">
        <div data-v-a9660e98="" class="tab c-row c-row-between">
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt action">
            Game History
        </span>
    </div>
    <!-- <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> Trend </span>
    </div> -->
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> My History </span>
    </div>
</div>
<div data-v-a9660e98="" class="con-box"
    style="
    width: calc(100% - 0.69333rem);
    margin: 0.48rem auto 0;
    text-align: center;
    font-size: .32rem;
    ">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="wrap">
            <div data-v-a9660e98="" class="c-tc van-row">
                <div data-v-a9660e98="" class="van-col van-col--8">Period</div>
                <div data-v-a9660e98="" class="van-col van-col--5">
                    Number
                </div>
                <div data-v-a9660e98="" class="van-col van-col--5">
                    Big / Small
                </div>
                <div data-v-a9660e98="" class="van-col van-col--6">
                    Color
                </div>
            </div>
        </div>
        <div data-v-a9660e98="">
            <div data-v-a9660e98="" class="hb"></div>
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center block-click">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>
<!-- <div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="wrap">
            <div data-v-a9660e98="" class="c-tc van-row">
                <div data-v-a9660e98="" class="van-col van-col--8">Draw</div>
                <div data-v-a9660e98="" class="van-col van-col--16">
                    Quantity
                </div>
            </div>
        </div>
        <div data-v-a9660e98="" class="p-t-5 p-b-5">
            <div data-v-a9660e98="" class="van-empty">
                <div class="van-empty__image">
                    <img src="https://img.yzcdn.cn/vant/empty-image-default.png" />
                </div>
                <p class="van-empty__description">No Data</p>
            </div>
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
            </i>
        </div>
        <div data-v-a9660e98="" class="number">1/1965</div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
            </i>
        </div>
    </div>
</div> -->
<div data-v-a9660e98="" class="con-box p-b-20" style="width: calc(100% - 0.69333rem);margin: 0.48rem auto 0px;text-align: center;font-size: 0.32rem;display: none;">
    <div data-v-a9660e98="" class="c-row c-flew-end p-r-20" style="padding: .5rem;">
        <div data-v-a9660e98="" class="bettingMore c-tc c-row c-row-middle-center"
        style="
        border: 0.01333rem solid #D9AC4F;
        height: 0.8rem;
        line-height: .8rem;
        border-radius: 0.26667rem;
        color: #d9ac4f;
        font-size: .32rem;
        position: relative;
        ">
            More<i data-v-a9660e98="" class="van-icon van-icon-arrow"
                style="color: #d9ac4f; font-size: 15px">
                <!---->
            </i>
        </div>
    </div>
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="p-t-5 p-b-5" id="history-order">
            
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <!---->
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>        <div class="van-overlay" style="z-index: 2031; display: none;"></div>
<div data-v-a9660e98="" class="popup-join van-popup van-popup--round van-popup--bottom" style="transform: translateY(400px);max-width: 10rem; left: auto; z-index: 2032; display: none;">
  <div data-v-a9660e98="" class="betting-mark colorred">
    <div data-v-a9660e98="" class="head">
      <div data-v-a9660e98="" class="box">
        <div data-v-a9660e98="" class="con">1 Minute</div>
        <div data-v-a9660e98="" class="color" style="color: rgb(251, 78, 78);">Choose<span data-v-a9660e98="" class="p-l-10">Red</span></div>
      </div>
    </div>
    <div data-v-a9660e98="" class="info">
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Amount</div>
        <div data-v-a9660e98="" class="c-row amount-box" data-money="1">
          <div data-x="1" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">1</div>
          <div data-x="10" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">10</div>
          <div data-x="100" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">100</div>
          <div data-x="1000" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">1000</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Quantity</div>
        <div data-v-a9660e98="" class="c-row c-row-between stepper-box">
          <div data-v-a9660e98="" class="li minus" style="background-color: rgb(240, 240, 240); color: rgb(200, 201, 204);">-</div>
          <div data-v-a9660e98="" class="digit-box van-cell van-field">
            <div class="van-cell__value van-cell__value--alone van-field__value">
              <div class="van-field__body">
                    <input type="tel" inputmode="numeric" class="van-field__control" oninput="value=value.replace(/\D/g,'')" value="1">
                </div>
            </div>
          </div>
          <div data-v-a9660e98="" class="li plus c-row c-row-middle-center" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">+</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-flew-end">
        <div data-v-a9660e98="" class="c-row multiple-box">
          <div data-x="1" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">X1</div>
          <div data-x="5" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X5</div>
          <div data-x="10" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);"> X10 </div>
          <div data-x="20" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);"> X20 </div>
          <div data-x="50" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X50</div>
          <div data-x="100" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X100</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-middle">
        <div data-v-a9660e98="" role="checkbox" tabindex="0" aria-checked="true" class="van-checkbox">
          <div class="van-checkbox__icon van-checkbox__icon--square van-checkbox__icon--checked"><i class="van-icon van-icon-success" style="border-color: rgb(244, 69, 62); background-color: rgb(244, 69, 62);">
              <!---->
            </i></div><span class="van-checkbox__label">
            <div data-v-a9660e98="" class="agree p-r-15">Rules</div>
          </span>
        </div><span data-v-a9660e98="" class="txt">Pre-Selling</span>
      </div>
    </div>
    <div data-v-a9660e98="" class="foot c-row">
      <div data-v-a9660e98="" class="left"> Cancel </div>
      <div data-v-a9660e98="" class="right" style="background-color: rgb(251, 78, 78);"><span data-v-a9660e98="" class="p-r-5">Total Amount</span>
        <!----><span data-v-a9660e98="">1 </span>
      </div>
    </div>
  </div>
</div>
      </div>
      <!---->
      <!---->
      <!---->
      <div data-v-a9660e98="" id="moveBox" class="moveBox" style="display: none">
        <div data-v-a9660e98="" class="moveHead c-row c-row-between c-row-middle">
          <div data-v-a9660e98="" class="close">Close</div>
          <div data-v-a9660e98="">
            <span data-v-a9660e98="">Full Screen</span>
          </div>
        </div>
        <div data-v-a9660e98="" class="long">
          <div data-v-a9660e98="" class="van-tabs van-tabs--line">
            <div class="van-tabs__wrap van-hairline--top-bottom">
              <div role="tablist" class="van-tabs__nav van-tabs__nav--line">
                <div role="tab" aria-selected="true" class="van-tab van-tab--active">
                  <span class="van-tab__text van-tab__text--ellipsis">Latest dragon pedestal</span>
                </div>
                <div role="tab" class="van-tab">
                  <span class="van-tab__text van-tab__text--ellipsis">My Bets</span>
                </div>
                <div class="van-tabs__line"></div>
              </div>
            </div>
            <div class="van-tabs__content">
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="">
                <div data-v-a9660e98="" class="longlist"></div>
              </div>
              <div data-v-a9660e98="" role="tabpanel" class="van-tab__pane" style="display: none">
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-v-a9660e98="" id="sipachp">
        <!-- <audio data-v-a9660e98="" id="voice1" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di1.da40b233.mp3" type="audio/mpeg" />
                    </audio>
                    <audio data-v-a9660e98="" id="voice2" muted="muted">
                        <source data-v-a9660e98="" src="/audio/di2.317de251.mp3" type="audio/mpeg" />
                    </audio> -->
      </div>
      <div data-v-a9660e98="" class="popup-qt van-popup van-popup--center" style="width: 80%; border-radius: 10px; max-width: 340px; z-index: 2040;display: none;">
        <div data-v-a9660e98="" class="rule-box">
          <div data-v-a9660e98="" class="title c-row c-row-middle-center">Pre-Selling Rules</div>
          <div data-v-a9660e98="" class="info">
            <div data-v-a9660e98="" class="comment"> To protect users' rights - legitimate interests
               participate in the pre-sale and maintain the normal operating sequence of the pre-sale, the rules
               rules developed under the agreement in accordance with the relevant agreements and rules of
               national laws and regulations.  Chapter 1 Definition1.1 Definition of presale: refer to
               A sales model in which a seller offers a bundle of products or services to collect orders
               Consumer ordering through pre-sale and delivery product tools
               goods and services to the seller as agreed in advance.  1.2 The pre-sale model is the "Signed ." model
               "Deposit" is referred to as a fixed amount of pre-sold goods
               available.  The "deposit" can participate in mini games and have a chance to win a lot
               profit.  Deposits can be exchanged directly for goods but the deposit amount
               Not for exchange.1.3 Pre-sale products: Products provided by the seller
               By using the pre-sale product tool, only pre-sale words are highlighted on the
               the title or on the product detail page, in addition other products do not use
               Pre-sale product tools are not pre-sale products.1.4 Pre-sale system:
               Access to the system of product tools provided to support sales by selling model
               before.  1.5 Pre-sale goods price: is the price of goods before sale.  The price of the goods
               Pre-sale consists of two parts: selling price and payment. </div>
            <div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center">
              <button data-v-a9660e98="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    <span data-v-a9660e98="">I Know</span>
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div data-v-a9660e98="" class="van-popup van-popup--center van-popup-vf" style="width: 80%; border-radius: 10px; max-width: 340px; z-index: 2006;display: none"><div data-v-a9660e98="" class="rule-box"><div data-v-a9660e98="" class="title c-row c-row-middle-center">Rule</div><div data-v-a9660e98="" class="info"><div data-v-a9660e98="" class="comment"><div data-v-a9660e98=""><div data-v-a9660e98=""><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">10 minute 1 issue, </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">9 minutes 45</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;seconds to order, </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">15</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;Seconds waiting for the</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"> Draw. It opens all day. The total number of trade per day is 144 issues.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">If you spend 100 to trade, after deducting 2 service fee, Your &nbsp;</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">Contact amount is 98</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:'Times New Roman';mso-hansi-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';font-size:12.0000pt;mso-font-kerning:1.0000pt;"><span style="font-family: &quot;Times New Roman&quot;;">.</span><font face="宋体"><span style="font-family: &quot;Times New Roman&quot;;"></span></font><font face="Times New Roman"><span style="font-family: &quot;Times New Roman&quot;;"></span></font></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;</span><span style="mso-spacerun:'yes';font-family:宋体;mso-ascii-font-family:'Times New Roman';mso-hansi-font-family:'Times New Roman';mso-bidi-font-family:'Times New Roman';font-size:12.0000pt;mso-font-kerning:1.0000pt;">.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><!--[if !supportLists]--><b><span style="font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">1.&nbsp;</span><!--[endif]--><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">C</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">hoose green: if the results show </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">number "</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><font color="#000000" style="background-color: rgb(255, 255, 255);">1,3,7,9"</font> you will get (98 * 2)= 196.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b></b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">If the results are displayed </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">number "</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">5", you will get (98 * 1.5)= 147.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">2. </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">Select red: if the results show</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">Number "</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">2,4,6,8" you will get (98 * 2)= 196; if the result shows as "0" you will get (98 * 1.5)= 147.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">3. </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">choose purple: if results show </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">Number "</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">0" or "5", you will get (98 * 4.5)= 441.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">4. </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">select number: if the result that opens is the same as the one you selected, you will get (98 * 9)= 882.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">5. </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">select large: if results show </span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">Number "</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">5,6,7,8,9" you will get (98 * 2)= 196.</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></b></p><p class="MsoNormal"><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p><b>&nbsp;</b></o:p></span></p><p class="MsoNormal"><!--[if !supportLists]--><b><span style="font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">6.&nbsp;</span><!--[endif]--><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"></span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">big/small: Result Display</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;Number</span><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;">&nbsp;"0,1,2,3,4" you will get (98 * 2)= 196.</span></b><span style="mso-spacerun:'yes';font-family:'Times New Roman';mso-fareast-font-family:宋体;font-size:12.0000pt;mso-font-kerning:1.0000pt;"><o:p></o:p></span></p></div></div><div data-v-a9660e98=""><!----></div><div data-v-a9660e98=""><!----></div><div data-v-a9660e98=""><!----></div></div><div data-v-a9660e98="" class="rule-btn c-row m-t-20 c-row-center"><button data-v-a9660e98="" class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="color: rgb(255, 255, 255); background: rgb(242, 65, 59); border-color: rgb(242, 65, 59);"><div data-v-a9660e98="" class="van-button__content"><span data-v-a9660e98="" class="van-button__text"><span data-v-a9660e98="">I know</span></span></div></button></div></div></div></div>    </div>
    <div data-v-7692a079="" data-v-a9660e98="" class="Loading c-row c-row-middle-center" style="display: none;">
      <div data-v-7692a079="" class="van-loading van-loading--circular">
        <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
          <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/client.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
  <script src="/js/wingo10.js"></script>
</body>

</html>